.header {
  @extend %flexbox;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-32;

  @include respond-to($breakpoint-tablets) {
    padding-block: $spacing-56;
    padding-inline: 9.7rem;
  }
}

.menu__btn {
  background-color: transparent;

  @include respond-to("(min-width: 37.5em)") {
    display: none;
  }
}

.menu__icon {
  width: 2.4rem;
  height: 1.7rem;
  fill: $color-zinc-900;
}

.navigation {
  background-color: $color-slate-100;
  padding-inline: $spacing-48;
  padding-block: 4.2rem;
  position: fixed;
  width: 100%;
  max-width: 34.5rem;
  top: $spacing-96;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;

  @include respond-to("(min-width: 37.5em)") {
    position: static;
    background-color: transparent;
    opacity: 1;
    transform: translateX(0);
    padding: 0;
    max-width: none;
    align-self: flex-end;
  }

  &--active {
    opacity: 1;
    transform: translateX(0);
  }
}

.navigation__list {
  @extend %flexbox;
  gap: $spacing-16;
  align-items: flex-start;

  @include respond-to("(min-width: 37.5em)") {
    flex-flow: row nowrap;
    gap: $spacing-56;
    align-items: center;
    justify-content: flex-start;
    margin-inline-start: $spacing-96;
    align-self: flex-end;
  }
}

.navigation__item a {
  @extend %text-preset-4;
  color: $color-zinc-900;
  transition: all 0.25s ease;
  position: relative;

  @include respond-to("(min-width: 37.5em)") {
    font-size: 1.8rem;
    line-height: 1.4;
    color: $color-slate-500;

    &:hover {
      color: $color-zinc-900;
    }
  }
}

.navigation__item--active a {
  color: $color-zinc-900;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4rem;
    height: 0.1rem;
    background-color: $color-zinc-900;
  }
}
