.header {
  @extend %flexbox;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-32;
  position: relative;
}

.menu__btn {
  background-color: transparent;
}

.menu__icon {
  width: 2.4rem;
  height: 1.7rem;
  fill: $color-zinc-900;
}

.navigation {
  background-color: $color-slate-100;
  padding-inline: $spacing-48;
  padding-block: 4.2rem;
  position: fixed;
  width: 100%;
  max-width: 34.5rem;
  top: $spacing-96;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;

  &--active {
    opacity: 1;
    transform: translateX(0);
    z-index: 3;
  }
}

.navigation__list {
  @extend %flexbox;
  gap: $spacing-16;
  align-items: flex-start;
}

.navigation__item a {
  @extend %text-preset-4;
  color: $color-zinc-900;
  transition: all 0.25s ease;
  position: relative;
}

.navigation__item--active a {
  color: $color-slate-500;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.1rem;
    width: 50%;
    background-color: currentColor;
  }
}

.decor__header {
  display: none;
}

@include respond-to("(min-width: 37.5em)") {
  .menu__btn {
    display: none;
  }

  .navigation {
    position: static;
    background-color: transparent;
    opacity: 1;
    transform: translateX(0);
    padding: 0;
    max-width: none;
    align-self: flex-end;
  }

  .navigation__list {
    flex-flow: row nowrap;
    gap: $spacing-56;
    align-items: center;
    justify-content: flex-start;
    margin-inline-start: $spacing-96;
    align-self: flex-end;
  }

  .navigation__item a {
    font-size: 1.8rem;
    line-height: 1.4;
    color: $color-slate-500;

    &:hover {
      color: $color-zinc-900;
    }
  }

  .navigation__item--active a {
    color: $color-zinc-900;

    &::after {
      background-color: $color-zinc-900;
      width: 2.4rem;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .header {
    padding-block: $spacing-56;
    padding-inline: 9.7rem;
  }

  .decor__header {
    display: block;

    &--line {
      top: 0;
      position: absolute;
      width: 1px;
      height: 104px;
      background-color: $color-slate-200;
      left: 4.8rem;
    }

    &--page {
      position: absolute;
      left: 5.8rem;
      transform: rotate(90deg);
      transform-origin: top left;
      top: calc(10.4rem + 4.8rem);
      color: $color-slate-200;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.35;
      letter-spacing: 0;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  /* .header { */
  /*   padding-inline: 4.8rem; */
  /* } */

  .decor__header {
    &--line {
      left: 4.8rem;
    }

    &--page {
      left: 5.8rem;
      letter-spacing: 1.8rem;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .header {
    padding-inline: 0;
  }

  .decor__header {
    &--line {
      left: -3.6rem;
    }

    &--page {
      left: -2.4rem;
    }
  }
}

@include respond-to("(min-width: 81.25em)") {
  .decor__header {
    &--line {
      left: -8.4rem;
    }
    &--page {
      left: -7.2rem;
    }
  }
}
