.contact {
  .details {
    @extend %grid;
    justify-items: start;
    row-gap: $spacing-30;
    padding-block-start: $spacing-72;
    margin-inline: $spacing-32;
    margin-block-end: 7.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 6.5rem;
      height: 1px;
      background-color: $color-slate-200;
      top: 0;
      left: 0;
    }

    &__title {
      @extend %text-preset-3-mob;
      color: $color-zinc-900;
    }

    &__office {
      @extend %grid;
      justify-items: start;
      row-gap: $spacing-48;
    }

    &__info {
      @extend %flexbox;
      align-items: flex-start;
      gap: $spacing-24;
    }

    &__office-name {
      @extend %text-preset-6-bold;
      color: $color-zinc-600;
    }

    &__address * {
      @extend %text-preset-6-medium;
      font-style: normal;
      color: $color-zinc-600;
    }

    &__link {
      @extend %flexbox;
      @extend %text-preset-6-bold;
      color: $color-zinc-900;
      flex-flow: row nowrap;
      gap: $spacing-24;
    }

    &__icon {
      width: 2.4rem;
      height: 1.8rem;
      stroke: $color-zinc-900;
    }
  }

  .connect {
    @extend %flexbox;
    align-items: flex-start;
    gap: $spacing-72;
    margin-block-end: 7.5rem;

    &__input-container {
      @extend %grid;
      justify-items: stretch;
      row-gap: $spacing-32;
      margin-inline: $spacing-32;
    }

    &__title {
      @extend %text-preset-3-mob;
      color: $color-zinc-900;
    }

    &__form {
      @extend %flexbox;
      align-items: stretch;
      gap: $spacing-32;

      div {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $color-zinc-900;
        }
      }
    }

    &__btn {
      justify-self: end;
      align-self: end;
      margin-block-start: -$spacing-32;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      border: none;

      &::placeholder {
        display: inline-block;
        padding: 0;
        margin: 0;
        @extend %text-preset-5;
        color: $color-slate-200;
        padding-inline-start: $spacing-32;
      }
    }

    input {
      height: 4.7rem;
      padding-block-end: $spacing-24;
    }

    textarea {
      height: 12rem;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .contact {
    .details {
      margin-inline: 9.7rem;
      margin-block-end: 11.3rem;
      row-gap: $spacing-48;

      &__title {
        font-size: 7.2rem;
        line-height: 0.9;
        letter-spacing: -0.2rem;
      }

      &__office {
        grid-template-columns: 1fr auto;
        width: 100%;
      }

      &__link {
        place-self: end;
      }
    }

    .connect {
      margin-inline: 9.7rem;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .contact {
    .details {
      grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), auto));

      &__office--second {
        grid-column: 2;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .contact {
    .hero-section__info {
      &::before {
        left: -19.8rem;
        top: -8.7rem;
      }
    }

    .details {
      margin-inline: auto;
      margin-block-end: $spacing-200;
      column-gap: $spacing-30;
      align-items: start;

      &__office {
        grid-template-columns: 1fr;
        justify-items: start;
        row-gap: $spacing-56;

        &--second {
          grid-row: 1;
          grid-column: 3;
        }
      }

      &__link {
        justify-self: start;
      }
    }

    .connect {
      margin-inline: auto;
    }
  }
}
