.contact {
  .details {
    @extend %grid;
    justify-items: start;
    row-gap: $spacing-30;
    padding-block-start: $spacing-72;
    margin-inline: $spacing-32;
    margin-block-end: 7.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 6.5rem;
      height: 1px;
      background-color: $color-slate-200;
      top: 0;
      left: 0;
    }

    &__title {
      @extend %text-preset-3-mob;
      color: $color-zinc-900;
    }

    &__office {
      @extend %grid;
      justify-items: start;
      row-gap: $spacing-48;
    }

    &__info {
      @extend %flexbox;
      align-items: flex-start;
      gap: $spacing-24;
    }

    &__office-name {
      @extend %text-preset-6-bold;
      color: $color-zinc-600;
    }

    &__address * {
      @extend %text-preset-6-medium;
      font-style: normal;
      color: $color-zinc-600;
    }

    &__link {
      @extend %flexbox;
      @extend %text-preset-6-bold;
      color: $color-zinc-900;
      flex-flow: row nowrap;
      gap: $spacing-24;
    }

    &__icon {
      width: 2.4rem;
      height: 1.8rem;
      stroke: $color-zinc-900;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .contact {
  }
}

@include respond-to($breakpoint-large-tablets) {
  .contact {
  }
}

@include respond-to($breakpoint-desktops) {
  .contact {
    .hero-section__info {
      &::before {
        left: -19.8rem;
        top: -8.7rem;
      }
    }
  }
}
