.hero {
  @extend %grid;
  grid-template-areas: "stack";
  margin-block-end: $spacing-72;
  position: relative;

  &__image,
  &__content {
    grid-area: stack;
  }

  &__image {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0; //top, right, bottom, left: 0; width, height: 100%;
      display: block;
      background-color: $color-black;
      opacity: 0.35;
    }
  }

  &__content {
    padding-inline: $spacing-32;
    z-index: 2;
  }

  &__title,
  &__description {
    color: $color-white;
  }

  &__title {
    @extend %text-preset-3-mob;
    margin-block-end: $spacing-8;
  }

  &__description {
    @extend %text-preset-6-medium;
    margin-block-end: $spacing-80;
    text-wrap: auto;
  }

  &__link {
    justify-self: start;
  }

  &__buttons {
    display: none;
  }
}

.welcome {
  margin-block-end: 11.3rem;
  margin-inline: $spacing-32;
  padding-block-start: $spacing-64;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6.5rem;
    height: 1px;
    top: 0;
    left: 0;
    background-color: $color-slate-200;
  }

  &__text {
    @extend %flexbox;
    gap: $spacing-24;
    align-items: flex-start;
  }

  &__title {
    @extend %text-preset-3-mob;
    color: $color-zinc-900;
  }

  &__desc {
    @extend %text-preset-6-medium;
    color: $color-zinc-600;
  }
}

.ideas {
  @extend %grid;
  grid-template-areas: "stack";
  margin-block-end: 7.3rem;

  &__img {
    grid-area: stack;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $color-black;
      opacity: 0.35;
    }
  }

  &__content {
    grid-area: stack;
    z-index: 1;
    justify-self: start;
    margin-inline-start: $spacing-32;
  }

  &__title {
    @extend %text-preset-3-mob;
    color: $color-white;
    margin-block-end: $spacing-30;
  }
}

.featured {
  @extend %grid;
  justify-items: stretch;
  margin-block-end: 7.3rem;
  margin-inline: $spacing-32;

  &__title {
    @extend %text-preset-3-mob;
    color: $color-zinc-900;
    margin-block-end: $spacing-40;
  }

  &__images {
    @extend %grid;
    justify-items: stretch;
    row-gap: $spacing-24;
  }

  &__images div {
    @extend %grid;
    grid-template-areas: "stack";
    align-items: end;
    justify-items: start;
  }

  &__img,
  &__content {
    grid-area: stack;
  }

  &__img {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $color-black;
      opacity: 0.35;
    }
  }

  &__content {
    z-index: 1;
    margin-inline-start: $spacing-24;
    margin-block-end: $spacing-16;
  }

  &__content-title {
    @extend %text-preset-4;
    color: $color-white;
  }

  &__content-link {
    @extend %text-preset-6-medium;
    color: $color-white;
    opacity: 0.75;
  }

  &__link {
    margin-block-start: $spacing-24;
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    margin-inline: 9.7rem;
    margin-block-end: 11.3rem;
    place-items: start;

    &__content {
      max-width: 43.4rem;
      padding-inline: 0;
      margin-inline-start: $spacing-56;
      align-self: center;
    }

    &__title {
      font-size: 9.6rem;
      line-height: 0.85;
      letter-spacing: -0.2rem;
      width: 49rem;
    }

    &__description {
      text-wrap: pretty;
      margin-block-end: $spacing-40;
    }
  }

  .welcome {
    margin-inline: 9.7rem;
    padding-block-start: 0;

    &::before {
      width: 0;
      height: 0;
    }

    &__headline {
      display: block;
      font-size: 12rem;
      letter-spacing: -0.3rem;
      color: $color-slate-100;
    }

    &__text {
      gap: $spacing-40;
    }

    &__title {
      font-size: 7.2rem;
      line-height: 0.9;
      letter-spacing: -0.2rem;
    }
  }

  .ideas {
    margin-inline: 9.7rem;

    &__content {
      margin-inline-start: $spacing-56;
    }

    &__title {
      font-size: 7.2rem;
      line-height: 0.9;
      letter-spacing: -0.2rem;
    }

    &__link {
      justify-self: start;
    }
  }

  .featured {
    margin-block-start: 11.3rem;
    margin-inline: 9.7rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    row-gap: $spacing-64;

    &__title {
      grid-column: 1 / 2;
      grid-row: 1;
      margin-block-end: 0;
      font-size: 7.2rem;
      line-height: 0.9;
      letter-spacing: -0.2rem;
    }

    &__link {
      grid-column: 2;
      grid-row: 1;
      margin-block-start: 0;
      justify-self: end;
    }

    &__images {
      grid-column: 1 / -1;
      row-gap: $spacing-30;
    }

    &__content {
      margin-inline-start: $spacing-40;
      margin-block-end: $spacing-32;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .welcome {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: $spacing-80;

    &__headline {
      font-size: 16rem;
      grid-column: 1 / -1;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    margin-inline: auto;

    &__content {
      margin-inline-start: $spacing-200;
    }
  }

  .welcome {
    margin-inline: auto;
    column-gap: 12.5rem;
    margin-block-start: 10.9rem;
    margin-block-end: $spacing-200;

    &__text {
      margin-inline-start: 18.9rem;
      margin-block-start: 16rem;
    }

    &__headline {
      font-size: 25rem;
      line-height: 0.8;
      letter-spacing: -0.5rem;
      position: absolute;
    }

    &__img {
      align-self: end;
    }
  }

  .ideas {
    margin-inline: auto;
    &__content {
      margin-inline-start: $spacing-200;
    }
  }
}

@include respond-to("(min-width: 80em)") {
  .hero {
    &__buttons {
      display: flex;
      position: absolute;
      left: -8rem;
      bottom: 0;
      background-color: $color-white;
      z-index: 2;
    }

    &__button {
      width: 8rem;
      height: 8rem;
    }

    &__button--active {
      background-color: $color-zinc-900;
      color: $color-white;
    }
  }
}
