.hero {
  @extend %grid;
  grid-template-areas: "stack";
  margin-block-end: $spacing-72;
  position: relative;

  &__image,
  &__content {
    grid-area: stack;
  }

  &__image {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0; //top, right, bottom, left: 0; width, height: 100%;
      display: block;
      background-color: $color-black;
      opacity: 0.35;
    }
  }

  &__content {
    padding-inline: $spacing-32;
    z-index: 2;
  }

  &__title,
  &__description {
    color: $color-white;
  }

  &__title {
    @extend %text-preset-3-mob;
    margin-block-end: $spacing-8;
  }

  &__description {
    @extend %text-preset-6-medium;
    margin-block-end: $spacing-80;
    text-wrap: auto;
  }

  &__link {
    justify-self: start;
  }

  &__buttons {
    display: none;
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    margin-inline: 9.7rem;
    margin-block-end: 9.7rem;
    place-items: start;

    &__content {
      max-width: 43.4rem;
      padding-inline: 0;
      margin-inline-start: $spacing-56;
      margin-block-start: $spacing-200;
    }

    &__title {
      font-size: 9.6rem;
      line-height: 0.85;
      letter-spacing: -0.2rem;
      width: 49rem;
    }

    &__description {
      text-wrap: pretty;
      margin-block-end: $spacing-40;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    margin-inline: auto;

    &__content {
      margin-inline-start: $spacing-200;
    }
  }
}

@include respond-to("(min-width: 80em)") {
  .hero {
    &__buttons {
      display: flex;
      position: absolute;
      left: -8rem;
      bottom: 0;
      background-color: $color-white;
      z-index: 2;
    }

    &__button {
      width: 8rem;
      height: 8rem;
    }

    &__button--active {
      background-color: $color-zinc-900;
      color: $color-white;
    }
  }
}
