.portfolios {
  @extend %grid;
  justify-items: stretch;
  row-gap: $spacing-24;
  margin-block-start: $spacing-56;
  margin-block-end: $spacing-72;
  margin-inline: $spacing-32;
}

.portfolio {
  @extend %grid;
  grid-template-areas: "stack";

  &__img,
  &__content {
    grid-area: stack;
  }

  &__img {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $color-black;
      opacity: 0.35;
    }
  }

  &__content {
    align-self: end;
    justify-self: start;
    margin-inline-start: $spacing-40;
    margin-block-end: $spacing-32;
    z-index: 1;
  }

  &__title {
    @extend %text-preset-4;
    color: $color-white;
  }

  &__date {
    @extend %text-preset-6-medium;
    color: $color-white;
    opacity: 0.75;
  }
}

@include respond-to($breakpoint-tablets) {
  .portfolios {
    margin-inline: 9.7rem;
    margin-block-start: 0;
    margin-block-end: $spacing-200;
  }
}

@include respond-to($breakpoint-large-tablets) {
  .portfolios {
    grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));
    gap: $spacing-32 $spacing-30;
  }

  .portfolio {
    &__content {
      margin-block-end: $spacing-40;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .portfolios {
    margin-inline: auto;
    margin-block-end: 16rem;
  }
}
