.hidden {
  display: none;
}

.container {
  @include containerWidth(111rem);
}

.resizing * {
  transition: none !important;
  animation: none !important;
}

.icon {
  width: 2.4rem;
  height: 1.8rem;
  stroke: $color-white;
  fill: none;
}

.logo {
  width: 7.7rem;
  height: 3.2rem;

  @include respond-to($breakpoint-tablets) {
    width: 9.6rem;
    height: 4rem;
  }
}

.error {
  position: relative;

  &::after {
    content: "Can't be empty";
    position: absolute;
    right: 0;
    top: 0;
    color: $color-red;
    @extend %text-preset-6-bold;
  }
}
