.hidden {
  display: none;
}

.container {
  @include containerWidth(111rem);
}

.resizing * {
  transition: none !important;
  animation: none !important;
}

.icon {
  width: 2.4rem;
  height: 1.8rem;
  stroke: $color-white;
  fill: none;
}

.logo {
  width: 7.7rem;
  height: 3.2rem;

  @include respond-to($breakpoint-tablets) {
    width: 9.6rem;
    height: 4rem;
  }
}

.error {
  position: relative;

  input,
  textarea {
    border-bottom: 3px solid rgba($color: $color-red, $alpha: 0.5) !important;

    &::placeholder {
      color: $color-red !important;
      opacity: 0.5;
    }
  }

  &::after {
    content: var(--error-message, "Can't be empty");
    position: absolute;
    right: 0;
    top: 0;
    color: $color-red;
    @extend %text-preset-6-bold;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  top: 9.6rem;
  width: 100vw;
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
  z-index: 4;
  background-color: #000;
  opacity: 0.5;
  transition:
    opacity 0.35s ease,
    visibility 0.35s ease;

  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
}
